{%load static%}
    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2023 <a href="#">LJ Transport Limited</a> Design By :
					<a href="#">Nana Yaw Oduro Kwaasi</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static ''%}js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static ''%}js/custom.js"></script>
    <script src="{% static ''%}js/portfolio.js"></script>
    <script src="{% static ''%}js/hoverdir.js"></script>