{% extends 'homebase.html' %}

{% block title %}passwordUpdate{% endblock %}




{% block content %}
{%load static%}
	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Update Password</h2>
						<ul class="page-title-link">
							<li><a href="/">Home</a></li>
							<li><a href="#">Password Update</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Sign Up</h3>
                 <p class="lead">You can update your password.
					<br>We are happy to work with you</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-offset-1 col-sm-12 col-md-12 col-sm-offset-1 pd-add">
                    <div class="our-team">
                        <div id="message"></div>
                                <!--  display message on form    -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags}}" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}

                            <form class="our-team" method="post">
                            {% csrf_token %}
                            <h4>_________________</h4>
                            {% for field in form %}
                              <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                  <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                  <p style="color: red">{{ error }}</p>
                                {% endfor %}
                              </p>
                            {% endfor %}
                            <div class="submit-button text-center">
                                <button class="btn btn-light btn-radius btn-brd grd2 btn-block" type="submit">Update</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>

                    </div>
                </div><!-- end col -->
            </div><!-- end row -->

			<div class="row">
				<div class="col-md-offset-1 col-sm-12 col-md-12 col-sm-offset-1 pd-add">
					<div class="address-item">
						<div class="address-icon">
							<i class="icon icon-location2"></i>
						</div>
						<h3>Headquarters</h3>
						<p>{{setting.address|safe}}
							<br> Accra - Ghana</p>
					</div>
					<div class="address-item">
						<div class="address-icon">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<h3>Email Us</h3>
						<p>{{setting.email}}
							<br>{{setting.email}}</p>
					</div>
					<div class="address-item">
						<div class="address-icon">
							<i class="icon icon-headphones"></i>
						</div>
						<h3>Call Us</h3>
						<p>+233
							<br>{{setting.phone}}/p>
					</div>
				</div>
			</div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}
{% block foot %}{% include 'footer.html' %}{% endblock %}