{% extends 'homebase.html' %}

{% block title %}{{setting.title}}-booking{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}


{% block content %}
{%load static%}

	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Driver</h2>
						<ul class="page-title-link">
							<li><a href="/">Home</a></li>
							<li><a href="#">Book A Trip</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="contact" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Book A trip</h3>
                 <p class="lead">Search Bus</p>
            </div><!-- end title -->

            <div class="row">
				<div class="col-lg-12">
                    {% load mybooking_extras %}
					<form class="our-team"  method="get">
						<h3>SEARCH BUS BELOW</h3>
						<div class="row">
							<div class="col-md-2 mb-3">

							</div>
							<div class="col-md-4 mb-3">
								<select class="form-control" name="bus_name">
									<option>Select Bus</option>
									{%for rs in list %}
									<option>{{rs.bus_name}}</option>
									{%endfor%}
								</select>
							</div>

							<div class="col-md-6 mb-3">
								<input class="btn btn-light" type="submit" value="Filter/Search">
							</div>
						</div>
					</form>

				</div>
			</div><br><hr>


            <div class="owl-services owl-carousel owl-theme">
                {%for rs in bus_page_obj%}
                <div class="service-widget">
                    <div class="post-media wow fadeIn">
                        <a href="{{rs.image.url}}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="{{rs.image.url}}" alt="" class="img-responsive img-rounded" style="height: 300px">
                    </div>
					<div class="service-dit">
						<h3>{{rs.bus_name}}</h3>
						<h1>GHC {{rs.cost_per_day}} Per day</h1>
						<p>Capacity: {{rs.capacity}} persons</p>
					</div>
                    <div class="text-center">
                        <a data-scroll href="/book_this/{{rs.id}}" class="btn btn-light btn-radius btn-brd">Book This</a>
                    </div>
                </div>
                <!-- end service -->
                {%endfor%}
                <div class="service-widget">


                </div>
                <!-- end service -->
            </div><!-- end row -->



			<div class="row">
				<div class="col-md-offset-1 col-sm-12 col-md-12 col-sm-offset-1 pd-add">
					<div class="address-item">
						<div class="address-icon">
							<i class="icon icon-location2"></i>
						</div>
						<h3>Headquarters</h3>
						<p>{{setting.address|safe}}
							<br> Accra - Ghana</p>
					</div>
					<div class="address-item">
						<div class="address-icon">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<h3>Email Us</h3>
						<p>{{setting.email}}
							<br>{{setting.email}}</p>
					</div>
					<div class="address-item">
						<div class="address-icon">
							<i class="icon icon-headphones"></i>
						</div>
						<h3>Call Us</h3>
						<p>+233
							<br>{{setting.phone}}/p>
					</div>
				</div>
			</div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}
{% block foot %}{% include 'footer.html' %}{% endblock %}